:root {
  --text-color: #999999;
  --main-font: Verdana, Geneva, Tahoma, sans-serif;
  --h-element-color: white;
  --orange-color: rgb(206, 135, 3);
  --bg-color: rgb(48, 47, 47);
  --icon-bg-color: rgb(87, 84, 84);
}

.footer {
  background-color: var(--icon-bg-color);
  padding: 50px 0;
}

.footer-grid-container {
  max-width: calc(100% - 3rem);
  margin: 0 auto;
}

.footer__title {
  color: var(--h-element-color);
  text-transform: uppercase;
  padding-top: 20px;
}

.footer__paragraph {
  color: var(--h-element-color);
}

.footer-features {
  display: flex;
  flex-direction: column;
  padding: 0.4em 0;
}

.footer__link {
  color: var(--text-color);
  padding: 6px 0;
}

.footer-newsletter-block {
  display: flex;
}
.footer__newsletter__input {
  background-color: transparent;
  border: 1px solid var(--text-color);
  font-size: 1.2rem;
  padding: 0.4em;
  color: var(--text-color);
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  flex-grow: 1;
  flex-shrink: 1;
  width: 70%;
}

.footer__newsletter__btn {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: var(--orange-color);
  color: var(--h-element-color);
  font-size: 1.2rem;
  border: 1px solid var(--text-color-light);
  padding: 0.4em;
  flex-basis: 60px;
}

.footer__title {
  font-size: 18px;
  margin-bottom: 1em;
  font-weight: normal;
}

.footer__icon {
  margin-right: 10px;
  font-size: 16px;
  color: var(--text-color);
}

.footer__hr {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.copyright {
  font-size: 0.8rem;
  text-align: center;
  color: var(--h-element-color);
}

.copyright i {
  color: red;
}
.copyright a {
  color: var(--text-color);
}
.copyright a:hover {
  text-decoration: underline;
}
